/* FORCE WHITE ICONS - HARDCODED */
window > box > box > listbox > row > box > image,
.sidebar listboxrow box image,
listboxrow.sidebar-item box image,
.sidebar image {
    color: #abb2bf !important;
    -gtk-icon-palette: #abb2bf !important;
    -gtk-icon-style: symbolic !important;
    filter: brightness(0) invert(1) !important;
}

window > box > box > listbox > row:selected > box > image,
.sidebar listboxrow:selected box image {
    color: #282c34 !important;
    -gtk-icon-palette: #282c34 !important;
    filter: none !important;
}
